.tab-content {
    display: grid;
    text-align: center;
}

.tab-content a {
    color: dodgerblue;
    text-decoration: none;
}

.tab-content button {
    color: white;
    background: black;
    border-radius: 5px;
    padding: 13px 25px;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid black;
}

.tab-content button:hover {
    color: black;
    background: white;
}